*{
	box-sizing: border-box;
}

body{
	background-color: white;
	color:white;
	font-size:20px;
	font-family: 'GFS Neohellenic', sans-serif;
	padding-bottom:0;	
	
}
h1{
	font-family: 'Poiret One', cursive;
}

main{
	width:100%;
	
	background-color:white;

}
.navbar-custom {
	background-color:#1a2323;
	font-family: 'Poiret One', cursive;
	
}
.navbar-custom .navbar-nav .nav-item .nav-link{
	color: #ebe4d2;
	font-size:20px;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover{
	color: #536c6d;
}
.navbar-custom .navbar-nav .nav-item .nav-link:active{
	color: #536c6d;
}
.top{
	background-color:#536c6d;
}
 #img2{
	height:350px;
	max-width: 350px;
	border:1px solid #ebe4d2;
	align-items: center;	
	margin-left:100px;
}
#engage{
	width: 430px;
	height: auto;
	border:1px solid #536c6d;

}


.intro {
	line-height: 2.5rem;
	font-family: 'Raleway', sans-serif;
}

h3{
	font-family: 'Poiret One', cursive;
}
.middle{
	margin:auto;
	color:black;
	font-family: 'Raleway', sans-serif;
}
#bio{
	font-size:22px;
}
#skills{
	color:#ebe4d2;
	background-color:#536c6d;
}

i{
	font-size:70px;
	color: #ebe4d2;
}

footer{
	background-color:#1a2323;;
	font-size:13px;
	color: #ebe4d2;
	position: absolute;
	bottom:0;
	width:100%;
	margin-bottom: 0;
}
#social{
	color: #ebe4d2;
	font-size:20px;
	padding:5px;
}

.marketing{
	color:black;
}
.featurette-heading, .text-muted{
	font-family: 'Poiret One', cursive;
}
.btn-custom{
	background-color: #536c6d;
	color:white;
	font-family: 'Open Sans', sans-serif;
	
}
#about{
	color:black;
	font-family: 'Poiret One', cursive;

}


