* {
	box-sizing: border-box;
}
/*-----------------------NAVIGATION---------------*/

.navbar-custom {
	background-color: #ddc6a4;
	font-family: "Playfair Display", serif;
	text-transform: uppercase;
	color: white;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
	color: white;
	font-size: 15px;
	display: flex;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover {
	color: #474a4f;
}
.navbar-custom .navbar-nav .nav-item .nav-link:active {
	color: #474a4f;
}
#download {
	padding: 5 15 5 10;
}
/*------------HOME CONTENT------------*/
body {
	background-color: white;
	color: #474a4f;
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	padding-bottom: 0;
}
h1 {
	font-family: "Marshland_Beauty", serif;
}

main {
	width: 100%;
	background-color: white;
}

.parallax {
	background-image: linear-gradient(to right bottom, #f4eae9, #f4eae9ad),
		url(./images/pexels-picjumbocom-196646.jpg);
	min-height: 600px;
	clip-path: polygon(0 0, 100% 0, 100% 77%, 0% 100%);
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	position: relative;
}

.heading-primary {
	color: #474a4f;
	padding-top: 40px;
	font-family: "Playfair Display", serif;
	-webkit-animation: fadeIn ease-in 1.5;
	-moz-animation: fadeIn ease-in 1.5;
	-o-animation: fadeIn ease-in 1.5;
	-ms-animation: fadeIne ease-in 1.5;
	animation: fadeIn ease-in 1.5s;
}

.heading-primary-main {
	text-transform: uppercase;
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 15px;
}
.heading-primary-sub {
	display: block;
	padding-top: 10px;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 3px;
	max-width: 990px;
	line-height: 30px;
}

#typewriter {
	overflow: hidden;
	border-right: 0.1em solid white;
	white-space: nowrap;
	margin: 0 auto;
	animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}

.projectsDirect {
	font-size: 16px;
	transition: transform 0.2s;
	font-family: "Poppins", serif;
	letter-spacing: 1px;
}

.projectsDirect:hover {
	color: #474a4f;
	cursor: pointer;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#skills {
	color: #474a4f;

	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}
#hobbies {
	color: #474a4f;

	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}

.icons {
	font-size: 4rem;
	color: #474a4f;
}

h2,
h3,
h4 {
	font-family: "Playfair Display", serif;
}
.about {
	clip-path: polygon(0 5%, 100% 25%, 100% 100%, 0 100%);
	margin: 0 auto;
	color: #474a4f;
	font-family: "Poppins", sans-serif;
	background-color: #f4eae9;
}

.contact-me {
	display: none;
	background-color: white;
	color: #1a2323;
}
.inner-box {
	background-color: #f4eae9;
	width: 100vw;
	height: 400px;
	color: #474a4f;
	padding: 0 40 0 40;
	align-items: center;
	text-align: center;
}

form {
	color: white;
}

.btn-lg {
	background-color: #1a2323;
	border-radius: 0;
	color: white;
}
.btn-lg:hover {
	cursor: pointer;
	color: #f4eae9;
}

/*-----------------------PROJECTS PAGE---------------------*/
.featurette-heading,
.text-muted {
	font-family: "Playfair Display", serif;
}
.btn-custom {
	background-color: #f4eae9;
	color: #474a4f;
	font-family: "Poppins", sans-serif;
}
#about {
	color: #474a4f;
	font-family: "Poppins", sans-serif;
}

/*--------------FOOTER-----------------------------*/
footer {
	background-color: #ddc6a4;
	color: white;
	font-family: "Playfair Display", serif;
}
#footer-content {
	text-align: center;
}
.footer-copyright {
	font-size: 12px;
	background-color:white;
	color:#474a4f;
}
#social {
	color: white;
	font-size: 35px;
	padding: 5px;
}
#social:hover {
	color: #f4eae9;
}

#contact {
	font-size: 20px;
	padding: 7 5 5 5;
}
a:hover {
	color: #f4eae9;
}
a {
	text-decoration: none;
	color: inherit;
}

.marketing {
	color: black;
}
