* {
	box-sizing: border-box;
}
/*-----------------------NAVIGATION---------------*/

.navbar-custom {
	background-color: #1a2323;
	font-family: 'Poiret One', cursive;
	color:#ebe4d2;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
	color: #ebe4d2;
	font-size: 20px;
	display: flex;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover {
	color: #536c6d;
}
.navbar-custom .navbar-nav .nav-item .nav-link:active {
	color: #536c6d;
}
#download{
	padding: 5 15 5 10;
}
/*------------HOME CONTENT------------*/
body {
	background-color: white;
	color: white;
	font-size: 20px;
	font-family: 'GFS Neohellenic', sans-serif;
	padding-bottom: 0;
}
h1 {
	font-family: 'Poiret One', cursive;
}

main {
	width: 100%;
	background-color: white;
}

.top {
	background-color: #536c6d;
}
#img2 {
	height: 350px;
	max-width: 350px;
	border: 1px solid #ebe4d2;
}
#me-photo {
	margin: auto;
}

.intro {
	line-height: 2.5rem;
	font-family: 'Raleway', sans-serif;
	animation: fadeIn ease 7s;
	-webkit-animation: fadeIn ease 7s;
	-moz-animation: fadeIn ease 7s;
	-o-animation: fadeIn ease 7s;
	-ms-animation: fadeIne ease 7s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#skills {
	color: black;
	background-color: white;
	margin-top: 100px;
	margin-bottom: 100px;
}

.icons{
	font-size:4rem;
}

h2 {
	font-family: 'Poiret One', cursive;
}
.about {
	margin: 0 auto;
	color: #1a2323;
	font-family: 'Raleway', sans-serif;
	background-color: #ebe4d2;
}

#engage {
	width: 100%;
	height: auto;
	border: 1px solid #536c6d;
}

#bio {
	font-size: 22px;
	height: auto;
	overflow-wrap: break-word;
}
.my-life {
	overflow: hidden;
	vertical-align: middle;
}


h4 {
	color: #1a2323;
	font-family: 'Poiret', sans-serif;
}




/*-----------------------PROJECTS PAGE---------------------*/
.featurette-heading,
.text-muted {
	font-family: 'Poiret One', cursive;
}
.btn-custom {
	background-color: #536c6d;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
#about {
	color: black;
	font-family: 'Poiret One', cursive;
}
/*--------------FOOTER-----------------------------*/
footer {
	background-color: #1a2323;
	color: #ebe4d2;
	font-family: 'Raleway';
}
#footer-content {
	text-align: center;
}
#social {
	color: #ebe4d2;
	font-size:35px;
	padding: 5px;
}
#social:hover{
	color:#536c6d;
}

#contact{
	font-size:20px;
	padding:7 5 5 5;
}
a:hover{
	color:#536c6d;
}
a{
	text-decoration: none;
	color:inherit;
}


.marketing {
	color: black;
}

